<div class="flex-grow-1 mt-2">
    <div class="flex align-items-baseline justify-content-between">
        <p-calendar [ngModel]="month()" (ngModelChange)="month.set($event)" view="month" dateFormat="mm/yy"
            [readonlyInput]="true" [showIcon]="true"></p-calendar>
    </div>

    @if(!loadingWeeks){
    <p-accordion [multiple]="true" (onOpen)="weekOpen($event)">
        @for (w of weeks; track $index) {
        <p-accordionTab
            [header]="w.start.toLocaleDateString(locale, locale_options) + ' - ' + w.end.toLocaleDateString(locale, locale_options)">
            @if(this.weekData[$index]){
            <p-table [value]="this.weekData[$index].plaiData" dataKey="id"
                styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines w-full" [scrollable]="true"
                scrollHeight="flex">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 140px;">Ticket</th>
                        <th>Titulo</th>
                        <th style="width: 95px;">Consumido</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-des>
                    <tr>
                        <td>{{des.Ticket}}</td>
                        <td>{{des.Title}}</td>
                        <td class="text-right">{{des.HoursConsumed}}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3" class="text-right">
                            {{this.weekData[$index].total}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            }
        </p-accordionTab>
        }
    </p-accordion>
    }
</div>