
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
}

.h-screen-fixed {
    height: 100vh !important;    
}